body {
    padding: 0;
    margin: 0;
}

.authScreen {
    display: flex;
    flex-direction: column;
    justify-content: end;

    position: relative;
    min-height: 100vh;

    background-color: #4A3B28;
    overflow: hidden;
    z-index: 0;

    .-login {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        object-fit: cover;
        width: 100%;
        height: 70%;

        @media (min-width: $breakpoint-lg) {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .-title {
        color: #FEEED5;
        text-align: center;

        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    .-auth-modal {
        z-index: 20;
        width: 100%;
        height: 50%;
        
        align-items: center;
        border-radius: 48px 48px 0px 0px;
        background: #FEEED5;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 46px 37px 0 37px;

        input {
            height: 48px;
            border-radius: 8px;
            margin-top: 4px;
            background: #E5B261;
            border: none;
            padding-left: 12px;
    
            &::placeholder {
                opacity: 0.7;
            }
    
            &:focus {
                border-color: #E5B261;
            }
    
            margin-bottom: 8px;
        }
    }

    button {
        display: block;
        margin: 12px auto;
    }

    .-footer {
        margin-bottom: 48px;
        p {
            color: #4A3B28;
            text-align: center;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
        }
    }
    
}