.profileScreen {
    min-height: 100vh;
    color: var(--Nigger, #000);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F9EEDA;
    
    .-header {
        width: 100%;

        color: #FFF;
        background: #5B4F39;
        box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.30);
        display: flex;
        align-items: center;
        justify-content: space-around;

        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;

        a {
            color: white;
        }
       
    }
    .-avatar {
        width: 100%;
        background-color: #4A3B28;
        padding-top: 60px;
        padding-bottom: 90px;

        img {
            display: block;
            margin: 0 auto;
            border-radius: 999px;

            width: 163px;
            height: 160px;
        }
    }

    .-point{
        display: flex;
        width: 240px;
        height: 80px;
        padding: 16px 37px 8px 37px;
        flex-direction: column;
        align-items: center;
    
        border-radius: 8px;
        background: #F9EEDA;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.50);
        
        margin-top: -10%;

        @media screen and (min-width: $breakpoint-md) {
            margin-top: 16px;
        }

        .numpoint{
            font-size: 25px;
            font-weight: 700;
            // margin-bottom: 3%;
        }
        p{
            margin: 2%;
        }
    }

    .-setting{
        display: flex;
        width: 80%;
        
        flex-direction: column;
        margin-top: 16px;

        color: var(--Nigger, #000);
        
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;

        @media screen and (min-width: $breakpoint-md) {
            width: 50%;
        }

        button {
            margin: 16px 0;
        }
        hr {
            width: 100%;
            height: 1px;
            background-color: #000;
        }

        .-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg {
                transition: all 0.2s;

                &:hover {
                    color: #D8853F;
                    transform: translateX(5px);
                }
            }
        }
    }
    .-each-setting{
        
        a {
            color: #000;
        }
    }
    .edit{
        display: flex;
        width: 162px;
        height: 40px;
        padding: 13px 44px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        background: #D8853F;
        margin-bottom: 5%;
        border: none;
        color: white;
    }
    
}

.EditProfileScreen{
    min-height: 100vh;
    background-color: #F9EEDA;
    font-family: Manrope;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 240px;
        background-color: #4A3B28;
        flex-shrink: 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }
    .ProfilePicture{
        margin-top: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9EEDA;
        border-radius: 163px;
        width: 163px;
        height: 160px;
        flex-shrink: 0;
        img{    
            display: flex;
            justify-content: center;
            align-items: center;
            width: 163px;
            height: 160px;
            border-radius: 163px;
            border: 2px solid black;
            box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.40);
        }
    }
    .Uname{
        margin-top:4%;
        color: #F9EEDA;
        background-color: #4A3B28;
        font-family: Manrope;
    }
    .EditPButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2em;
        flex-shrink: 0;
        background: #D8853F;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        p{
            color: #F9EEDA;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 480;
            margin: 0;
            font-family: Manrope;
        }
    }
    .Information{
        margin-top: 0.6em;
        width: 320px;
        p{
            color: var(--Nigger, #000);
            font-size: 16px;
            font-style: normal;
            font-weight: 480;
        }
    }
    .SpaceBetween{
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
    }
    .Line{
        width: 320px;
        height: 1px;
        background: #000;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
    }
    .Button{
        margin-top: 8%;
        font-size: 1em;
        width: 160px;
        height: 40px;
        border-radius: 16px;
        background: #D8853F;
        color: #F9EEDA;
        border: 0;
        font-family: Manrope;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
    }
}