.product-item {
    color: #000;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    background: #F9EEDA;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    @media screen and (min-width: $breakpoint-md) {
        width: 70%;
        margin: 24px auto;
        border-radius: 16px;
    }
    
    img {
        width: 100%;
        height: auto;

        @media screen and (min-width: $breakpoint-md) {
            width: 300px;
            margin: 0 auto;
        }
    }

    p {
        margin: 0;
    }

    .-desc {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;


        gap: 16px;
        padding: 16px;
    }

    .-title{
        display: flex;
        gap: 8px;
        align-items: center;

        margin-top: 5%;

        p {
            font-weight: 700;
            font-size: 25px;
        }
    }

    .-shipping{
        font-weight: 700;
        font-size: 18px;
        display: flex;
        gap: .5rem;
        justify-content: start;
        align-items: center;
    }

    .-line{
        background: var(--Nigger, #000);
        box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 5px;
        margin-top: -2%;
    }

   
}