.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 32px;
    border: 16px;
    background-color: #5B4F39;

    .-icon {
        color: white
    }

    .-point-label {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }

    & button {
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          animation: shake 0.5s ease-in-out;
        }
       
    }
}

.HeaderSetting{
    background-color: #5B4F39;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    color: white;
    align-items: center;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    background: #5B4F39;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.30);

    a {
        color: white;
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-2px);
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }

