.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 32px;
    border: 16px;
    background-color: #5B4F39;

    .-icon {
        color: white
    }

    .-point-label {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
}